* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.load {
    display: flex;
    justify-content: center;
    margin: 120px auto;
}

.load div {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 10px;
    animation-name: upAndDown;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.load .two {
    animation-delay: 0.3s;
}

.load .three {
    animation-delay: 0.6s;
}

@keyframes upAndDown {
    from {
        opacity: 1;
    } to {
        opacity: 0.2;
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
    }
}

.dotted-loader {
    width: 120px;
    height: 120px;
    border-width: 4px;
    border-color: aqua;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 150px auto;
    /* position: absolute;
    left: 50%;
    top: 50%; */
    transform: translate(-50%, -50%);
    animation: rotate-right 2s linear infinite;
    -webkit-animation: rotate-right 2s linear infinite;
}

.dotted-loader::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-width: 4px;
    border-color: aquamarine;
    border-style: solid dotted;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: rotate-left 2s linear infinite;
    -webkit-animation: rotate-left 1s linear infinite;
}

@keyframes rotate-right {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
} to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

@keyframes rotate-left {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
} to {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
}
}

/* start of loading */
.loading {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: -15px auto;
    color: aqua;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.loading span {
    font-size: 45px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1;
    mix-blend-mode: difference;

}

.loading::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: aqua;
    animation: move 4s linear infinite;
    -webkit-animation: move 4s linear infinite;
    z-index: -1;
}

@keyframes move {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 50px);
    } 
    100% {
        left: 0%;
    }
}

/* end of loading */
